.logo-class {
  width: 250px;
  height: 250px;
}

.sidebar {
  background-color: gainsboro;
  height: 100vh;
}

.sidebar *> .nav-link a, .active {
  font-weight: 700;
  text-decoration: underline;
}

.sidebar *> .nav-item a {
  color: darkslategray !important;
}

.sidebar *> .dropdown-menu {
  background-color: gainsboro;
  border: none;
  padding-left: 10px;
}

.sidebar *> .dropdown-menu a {
  background-color: gainsboro;
  border: none;
}

table {
  border: 1px solid lightgray;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}

.table-cell-center {
  display: inline-block;
  width: 100%;
  text-align: center;
}
